.quiz-grade-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  border: 1px solid #0c8195;
}

.quiz-grade-page h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #0c8195;
}

.quiz-grade-page p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
