.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.reset-password-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.reset-password-header h2 {
  margin-bottom: 1rem;
}

.reset-password-header p {
  margin-bottom: 2rem;
  color: #555;
}

.reset-password-container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.reset-password-container button {
  width: 100%;
  padding: 8px;
  background-color: rgba(5, 122, 141, 1);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.reset-password-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reset-password-container button:not(:disabled):hover {
  background-color: #0056b3;
}
