.update-course-page {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-course-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0c8195;
}

.update-course-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.update-course-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.update-course-form input[type="text"],
.update-course-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.update-course-form textarea {
  resize: vertical; /* Allow vertical resizing */
}

.update-button {
  padding: 10px 20px;
  background-color: #0c8195;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.update-button:hover {
  background-color: #0056b3;
}

.status-message {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: #cce5ff;
  color: #007bff;
}
