body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.message-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
}

.message-icon {
    margin-bottom: 20px;
}

.message-box h1 {
    color: #4CAF50;
    margin: 0;
}

.message-box p {
    color: #777;
    margin: 10px 0;
}

.ok-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.ok-button:hover {
    background-color: #45a049;
}
